# Python/Django
__pycache__/
*.py[cod]
*.sqlite3

# Builds & runtime
staticfiles/
media/
venv/

# Secrets
.env
*.env

# OS/editor
.DS_Store
.idea/
.vscode/
konservativt_dump.sql
static/logo.png
static/img/favicon.ico
